<p class="lead">
  Create or modify posts on your
  <a href="https://micropub.net">Micropub</a>-compatible website.
  <a href="/about">Find out more</a> about the requirements.
</p>

<form action="/auth" method="get" class="panel">
  <div class="panel-heading">
    <h2 class="panel-title">Sign in</h2>
  </div>
  <div class="panel-body">

    <div class="form-group">
      <label for="me" class="control-label">Micropub&nbsp;URL</label>
      <input type="url" class="form-control" name="me" value="<%= @me %>"
        placeholder="https://" required>
    </div>
    <div class="form-group">
      <h3 class="control-label">Scope(s)</h3>
      <label class="checkbox">
        <input type="checkbox" name="scope[]" value="create" checked>
        <code>create</code>
      </label>
      <label class="checkbox">
        <input type="checkbox" name="scope[]" value="update" checked>
        <code>update</code>
      </label>
      <label class="checkbox">
        <input type="checkbox" name="scope[]" value="delete" checked>
        <code>delete</code>
      </label>
      <label class="checkbox">
        <input type="checkbox" name="scope[]" value="undelete" checked>
        <code>undelete</code>
      </label>
      <label class="checkbox">
        <input type="checkbox" name="scope[]" value="draft">
        <code>draft</code>
      </label>
      <label class="checkbox">
        <input type="checkbox" name="scope[]" value="post">
        <code>post</code>
      </label>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary" type="submit">Sign in</button>
  </div>
</form>
